doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet")
    link(href="/assets/css/base.css" rel="stylesheet")
    link(href="/assets/css/wr.css" rel="stylesheet")
  body
    h1 안녕하세요.